<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<h1>Welcome!</h1>
<p>スタート、確認しました。お帰りなさいませ。ようこそ。こんにちは。うェるカム。</p>

<h3>Info</h3>
<p>Will be open sourced soon. Made for <a href="https://github.com/Luukuton/TohsakaBot/">TohsakaBot</a>. Discord authentication uses <a href="https://github.com/adaoraul/omniauth-discord">OmniAuth</a>.</p>
<p>Attention! Database is still in development and it can be pruned without notice.</p>
<h3>Testing</h3>
<button class="hamburger hamburger--arrowalt" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
</button>
<p>A Proof of Concept of a working connection between TohsakaWeb<->TohsakaBot: bot status currently is <b><%=tohsaka_bridge.get_now_playing %></b>. To accomplish this, I'm using <a href="https://docs.ruby-lang.org/en/2.7.0/DRb.html">dRuby</a></p>

<script>
  var hamburger = document.querySelector(".hamburger");
  hamburger.addEventListener("click", function() {
    hamburger.classList.toggle("is-active");
  });
</script>
