<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<h1>Welcome!</h1>
<p>スタート、確認しました。お帰りなさいませ。ようこそ。こんにちは。うェるカム。</p>

<h3>Info</h3>
<p>Source code <a href="https://github.com/Luukuton/TohsakaWeb/">here</a>. Made for <a href="https://github.com/Luukuton/TohsakaBot/">TohsakaBot</a>. Discord authentication uses <a href="https://github.com/adaoraul/omniauth-discord">OmniAuth</a>.</p>
