// Light theme colors
$primary-background: #aaaaaa;
$secondary-background: #efefef;

$primary-red: #8e0a2d;
$secondary-red: #bd1041;

$title: #e91e53;
$warning: $primary-red;
$notice: #0d3f7d;

$table-alternate: #e3e3e3;

// Import components
@import 'configurations';
@import 'application';
